---
layout: job_page
title: "Sales Operations Administrator"
---

## Responsibilities
- Serve as the primary administrator of our Salesforce instance and complete the usual tasks of which include field creation, layout modifications, and implementation of workflows and validation rules
- Provide first-tier support for any end-user technical or process questions in Salesforce and other systems primarily managed by sales operations
- Collaborate with other departments to improve integration between Salesforce and other mission-critical systems, including marketing automation, billing, engineering, and support
- Identify opportunities for process automation and optimization, with a focus on scalability and driving significant enterprise growth
- Develop best practices that align sales data quality with company initiatives
- Monitor system adoption and data compliance and governance
- Deliver basic reporting and analysis of KPIs in Salesforce and InsightSquared: bookings, pipeline/forecasting, churn, and other metrics
- Work with Sales Managers to increase forecast accuracy and integrity of pipeline
- Support the sales and account management teams with the creation and configuration of complex quotes within our Salesforce/Zuora environments
- Document any process changes to our Sales Handbook

## Requirements
- You have 2+ years in a sales operations capacity, preferably for SaaS companies. You should have a very solid understanding of the subscription business model.
- You are highly adept at basic Salesforce administration (some might call you an SFDC ninja). You know how to create workflows and use Process Builder. Maybe you’ve done some APEX coding, but it’s not required for this role.
- You don’t like nor need to be micromanaged. We’re a distributed (ie, remote) company, so you’ll need to be focused enough to complete deliverables without any managerial oversight.
- You can move fast and juggle multiple projects- all while keeping very close attention to detail.
- You don’t get bogged down on a single project. Deliver what you can and believe in iteration as a lifestyle.
- You’re familiar enough with a spreadsheet application (Googlesheets preferably) enough to create a pivot table and nice looking charts. If you love VLOOKUPS, even better.
- You’ve supported at least 50 Salesforce users at some point in your sales operations career. Bonus points if you’ve scaled to 200+ users.
- You’ve used (or at least are aware of) Marketo, Zuora, InsightSquared, DiscoverOrg, Zendesk, and LeanData.

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process, and may be asked to interview additional team members. To learn more about someone who may be conducting the interview, find her/his job title on our team page.

- Selected candidates will be invited to schedule a screening call with our Global Recruiters
- Next, candidates will be invited to schedule an interview with the Director of Sales Operations
- The strongest candidates may be asked to schedule additional 45 minute interviews with our CRO
- Finally, candidates may interview with our CEO.


<%= partial "includes/apply_and_about" %>
